/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
.idea/
lyric-master.iml

out/
resources/public/css
resources/public/js
.cpcache/
figwheel_server.log
.rebel_readline_history
.DS_Store
